footer{
    background-color: #111111;
    border-radius: .3rem;

    padding: 1rem;
    margin: .7rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    div{
        svg{
            color: #ffff;
            font-size: 30px;
        }
    }
  
    div{
        margin: 0 10px;
    }
    p{
        font-size: 10px;
    }
}