.filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    background-color: #111111;
    margin: .7rem;
    border-radius: .3rem;
   

    input {
        margin: 10px;

        border-radius: 25px;
        border: 1px solid rgba(0, 0, 0, 0);
        padding-left: 10px;
    }

    input::placeholder {
        color: rgb(0, 0, 0);
        opacity: 0.9; 
    }

    button {
        margin: auto 0;
        margin-right: 10px;
        background-color: #51FF9C;
        border-radius: 25px;
        border: 1px solid rgba(0, 0, 0, 0);
        padding-left: 10px;
        padding-right: 10px;
    }
}